
.container{
  max-width: 90%;
  margin: 0 auto;
}
.header__area{
  background: teal;
  color: white;
}
.header_menu{
  display: flex;
  justify-content: space-between;

}
.header__area .logo{
  display: flex;
  align-items: center;
  font-size: 25px;
}
.menu ul{
  display: flex;
}
.menu a{
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: .3s;
  padding: 10px 20px;
  display: flex;
}
.menu li:hover a{
  background: black;
}
.menu a span{
  margin-right: 5px;
}
.product_box .top{
  height: 200px;
}
.product_box img{
  width: 100%;
  border-radius: 10px;
  height: 150px;
}
.action_item{
  margin: 10px 0;
}

.product_box{
  margin: 10px;
}

.cart_item_product{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart_item_product .left,
.cart_item_product .right{
  display: flex;
  align-items: center;
}
.cart_item_product .right{
  justify-content: space-between;
  width: 50%;
}
.cart_item_product img{
  width: 100px;
  height: 80px;
  padding: 5px;
}
.total_box h2{
  text-align: center;
}
.total_box {
  margin: 20px 50px;
}